################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/config
/Git
/icons
/vendor
/VisualStudio
